In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [4]:
df = pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [5]:
df.shape

(35, 2)

In [8]:
df.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [19]:
stats.ttest_ind(df['Unit A'],df['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
# pvalue we have got is 0.4722 which is greater then alpha valve, we will fail to reject the Null hypothesis here
#pvalue > alpha (0.4722 > 0.05)
#Accept H0 => There is no difference in the diameter of the cutlets of Unit A and B