In [3]:
import pandas as pd

df =pd.read_csv('Costomer+OrderForm.csv')
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [6]:
df.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [9]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [ ]:
#The count of Error Free and Defective for given 4 centers
# Value = count - Freq
table = [[271,267,269,280],[29,33,31,20]]

In [12]:
data = pd.DataFrame([
    [271,267,269,280],[29,33,31,20]],
    index=['Error_Free','Defective'],columns =['Phillippines', 'Indonesia', 'Malta', 'India']
)
data

            Phillippines  Indonesia  Malta  India
Error_Free           271        267    269    280
Defective             29         33     31     20

In [14]:
# run chi-square test for independence


from scipy.stats import chi2_contingency
chi2_contingency(data)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# Compare p_value with Î± = 0.05
# p_value we have got is 3.85  which is greater then alpha valve, we will fail to reject the Null hypothesis here
#pvalue > alpha (3.85 > 0.05)
#Accept H0 => There is no difference in the diameter of the cutlets of Error_Free and Defective