In [1]:
import pandas as pd

df = pd.DataFrame([
    [50,142,131,70],[550,351,480,350]],
     index = ['Male','Female'], columns =['East','West','North','South'])
df

        East  West  North  South
Male      50   142    131     70
Female   550   351    480    350

In [13]:
# run chi-square test for independence
from scipy.stats import chi2_contingency
chi2_contingency(df)

(80.27295426602495,
 2.682172557281901e-17,
 3,
 array([[111.01694915,  91.21892655, 113.05225989,  77.71186441],
        [488.98305085, 401.78107345, 497.94774011, 342.28813559]]))

In [ ]:
# Compare p_value with Î± = 0.05
# p_value we have got is 2.68 e-17  which is smaller then alpha valve, we will fail to reject the Null hypothesis here
#pvalue > alpha ( 2.68 e-17 < 0.05)
#reject null => There is  difference in the diameter of the cutlets of Error_Free and Defective